body {
  background-image: url("https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,p {
  display: block;
  text-align: center;
}

.center {
  width: 50%; /* Adjust the width as needed */
  margin: 0 auto; /* Horizontally center the fieldset */
  border: none;
  margin-right: 200px;
  padding-right: 50px;
}

.center div {
  margin-bottom: 10px; /* Add space between each label-input pair */
}

.center label {
  display: block; /* Display labels as block-level elements */
  margin-bottom: 5px; /* Add space below each label */
}

/*container */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(182, 90, 73, 0.5);
  border: 1px  #ccc; /* Add a border */
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.box {
  width: 450px;
}

.additional {
  height: 30px;
  width: 450px;
  margin-top: 20px;
  margin-left: 5px;
  border-radius: 100px;
  background-color: rgba(190, 130, 120, 0.5);
}

.additional:hover{
  background-color: gray;
}


textarea {
  width: 450px;
  height: 75px;
}

.indie {
  width: 450px;
  margin: 0 auto; /* Horizontally center the fieldset */
  border: none;
  margin-top: 20px;
  margin-left: -10px;
}





